---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';

import ImageSwiper from './_components/ImageSwiper';
import BottomNav from './_components/BottomNav';

import { formatFeatures, formatBedOptions } from '@plott-life/utils';
import IconCheck from '@plott-life/ui/icons/check.svg';

import {
  Bed,
  Bathtub,
  Ruler,
  Building,
} from '@plott-life/ui/components/icons';

import { NaverStaticMap, parseNaverURL } from '@plott-life/ui/components/NaverStaticMap';

import IconByCode from './_components/IconByCode.astro';

const { id } = Astro.params;
const isLoggedIn = Astro.locals.isLoggedIn;

if (!id) {
  throw new Error('Room ID is required');
}

// 상세 API 호출 함수
async function fetchRoomDetail(id: string) {
  const res = await fetch(`${import.meta.env.API_URL}/v1/building-unit/${id}`, {
    headers: { 'Content-Type': 'application/json' },
  });

  if (!res.ok) {
    throw new Error(`API Error: ${res.status}`);
  }

  return res.json();
}

const roomDetail = await fetchRoomDetail(id);
const {
  name,
  address,
  images,
  latitude,
  longitude,
  descIntro,
  descCaution,
  descLocation,
  bedrooms,
  bathrooms,
  livingrooms,
  kitchens,
  floor,
  areaExclusive,
  areaExclusivePyeong,
  maxPeople,
  buildingType,
  elevatorOption,
  parkingOption,
  bedOptions,
  defaultOptions,
  facilityOptions,
  additionalOptions,
  deposit,
  rentFeePerWeek,
  cleaningFee,
  managementFeePerWeek,
  managementFeeDescription,
} = roomDetail;

const structure = formatFeatures({
  bedrooms,
  bathrooms,
  livingrooms,
  kitchens,
});

const [isMobile, naverUrl, naverUrlFallback] = parseNaverURL(
  Astro.url, Astro.request?.headers?.get("user-agent") as string,
 address
);

const bedInfo = formatBedOptions(bedOptions);
---

<Layout
  subtitle={name}
  description={descIntro}
  image={roomDetail[0]}
>
  <Header
    slot='header'
    showBackIcon={true}
    showHomeIcon={true}
  />
  <ImageSwiper
    client:only='preact'
    images={images}
    className='aspect-[3/2]'
  />
  <div class='bg-white px-6 py-8'>
    <!-- 숙소 정보 -->
    <div>
      <h1 class='text-gray-900 title3 mb-2'>{name}</h1>
      <p class='text-gray-600 body6 mb-4'>{address}</p>
      <div class='mb-6 flex flex-row'>
        <p class='flex items-center mr-1.5'><IconCheck /></p>
        <p class='text-gray-900 body5 '>최소 1주 이상부터 계약 가능</p>
      </div>
    </div>
    <div class='w-full h-px bg-gray-300 my-0'></div>
    <div class='grid grid-cols-4 text-center py-6 text-sm'>
      <div class='flex flex-col items-center gap-1'>
        <Bed />
        <span>침실 {bedrooms}개</span>
      </div>
      <div class='flex flex-col items-center gap-1'>
        <Bathtub />
        <span>욕실 {bathrooms}개</span>
      </div>
      <div class='flex flex-col items-center gap-1'>
        <Ruler />
        <span>{areaExclusive}㎡</span>
      </div>
      <div class='flex flex-col items-center gap-1'>
        <Building />
        <span>{(floor || 0)}층</span>
      </div>
    </div>
    <div class='w-full h-px bg-gray-300 my-0'></div>
    <div class='py-6'>
      <h2 class='text-gray-900 title3 mb-5'>소개글</h2>
      <p class='text-gray-900 body3 font-normal'>{descIntro}</p>
      <!--<button class='w-full btn bg-gray-100 mt-6 rounded-lg body2 text-gray-900'>-->
      <!--  더 보기-->
      <!--</button>-->
    </div>
    <div class='w-full h-px bg-gray-300 my-0'></div>
    <!-- 기본 정보 -->
    <div class='py-6'>
      <h2 class='text-gray-900 title3 mb-4'>기본 정보</h2>
      <div class='space-y-5 text-sm'>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>구조</span>
          <span class='body3 text-gray-700'>{structure}</span>
        </div>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>전용 면적</span>
          <span class='body3 text-gray-700'>{areaExclusive}㎡ / {Math.floor(areaExclusivePyeong)}평</span>
        </div>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>침대 사이즈</span>
          <span class='body3 text-gray-700'>{bedInfo}</span>
        </div>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>최대 인원</span>
          <span class='body3 text-gray-700'>{maxPeople}인</span>
        </div>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>건물 유형</span>
          <span class='body3 text-gray-700'>{buildingType}</span>
        </div>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>엘리베이터</span>
          <span class='body3 text-gray-700'>{elevatorOption ? elevatorOption?.name : '없음'}</span>
        </div>
        <div class='flex'>
          <span class='w-[100px] flex-shrink-0 body1 text-gray-900'>주차 여부</span>
          <span class='body3 text-gray-700'>{parkingOption ? parkingOption?.name : '없음'}</span>
        </div>
      </div>
      {(parkingOption && parkingOption?.description) && (
        <div class='mt-6 p-4 bg-gray-50 rounded-lg'>
          <p class='mb-2 body4 text-gray-900'>주차 상세 정보</p>
          <p class='body6 text-gray-800'>
            {parkingOption?.description}
          </p>
        </div>
      )}
    </div>
    <!-- 기본 옵션 -->
    {defaultOptions?.length > 0 && (
      <>
        <div class='w-full h-px bg-gray-300 my-0'></div>
        <div class='py-6'>
          <h2 class='text-gray-900 title3 mb-4'>기본 옵션</h2>
          <div class='grid grid-cols-2 gap-4 mb-6'>
            {defaultOptions.map((option) => {
              return (
                <div class='flex items-center gap-x-3 gap-y-2 h-12'>
                  <IconByCode code={option.code} className='w-6 h-6 text-gray-900' />
                  <span class='body3 text-gray-900'>{option.name}</span>
                </div>
              );
            })}
          </div>
          <button class='w-full btn bg-gray-100 rounded-lg body2 text-gray-900'>
            기본 옵션 {defaultOptions.length}가지 모두 보기
          </button>
        </div>
      </>
    )}
    <!-- 편의시설 -->
    {facilityOptions?.length > 0 && (
      <>
        <div class='w-full h-px bg-gray-300 my-0'></div>
        <div class='py-6'>
          <h2 class='text-gray-900 title3 mb-4'>편의시설</h2>
          <div class='flex flex-wrap gap-2'>
            {facilityOptions.map((facility) => (
              <div class='h-10 px-5 rounded-full border border-gray-300 bg-white flex items-center body6 text-gray-900'>
                {facility.name}
              </div>
            ))}
          </div>
        </div>
      </>
    )}
    <!-- 추가 옵션 -->
    {additionalOptions?.length > 0 && (
      <>
        <div class='w-full h-px bg-gray-300 my-0'></div>
        <div class='py-6'>
          <h2 class='text-gray-900 title3 mb-4'>추가 옵션</h2>
          <div class='flex flex-wrap gap-2'>
            {additionalOptions.map((additionalOption) => (
              <li class='h-10 px-5 rounded-full border border-gray-300 bg-white flex items-center body6 text-gray-900'>
                {additionalOption.name}
              </li>
            ))}
          </div>
        </div>
      </>
    )}
    <!-- 주의사항 -->
    {descCaution && (
      <div class='w-full h-px bg-gray-300 my-0'></div>
      <div class='py-6'>
        <h2 class='text-gray-900 title3 mb-4'>주의사항</h2>
        <div class=''>
        <span class='body3'>
          {descCaution}
        </span>
        </div>
      </div>
    )}
    <!-- 위치 -->
    <div class='w-full h-px bg-gray-300 my-0'></div>
    <div class='py-6'>
      <h2 class='text-gray-900 title3 mb-4'>위치 & 교통</h2>
      <p class='body3 text-gray-900'>{address}</p>
      {(latitude && longitude) ? (
        <a
          id="naver-map"
          href=`${naverUrl}` target={isMobile ? '_self' : '_blank'}
          data-naver-map={naverUrl} data-naver-map-fallback={naverUrlFallback}
          class='my-6 h-[300px] bg-gray-300 rounded-md flex items-center justify-center overflow-hidden'>
          <NaverStaticMap
            width={600}
            height={300}
            center={[latitude, longitude]}
            level={14}
            scale={2}
            apiKeyId={import.meta.env.PUBLIC_NAVER_MAP_CLIENT_ID}
            alt={address}
            className='w-full h-full object-cover object-center'
          />
        </a>
      ) : null}
      <p class='body3 text-gray-900'>
        {descLocation}
      </p>
    </div>
    <!-- 계약 정보 -->
    <div class='w-full h-px bg-gray-300 my-0'></div>
    <div class='space-y-4 py-6'>
      <h2 class='text-gray-900 title3 mb-4'>계약 정보</h2>
      <div class='bg-gray-50 rounded-xl px-5'>
        <ul class='divide-y divide-gray-200'>
          <li class='py-4'>
            <p class='body4 text-gray-900 mb-2'>임대료</p>
            <p class='body6 text-gray-800'>{(rentFeePerWeek).toLocaleString()}원 /1주</p>
          </li>
          <li class='py-4'>
            <p class='body4 text-gray-900 mb-2'>관리비</p>
            <p class='body6 text-gray-800'>{(managementFeePerWeek).toLocaleString()}원 /1주</p>
          </li>
          <li class='py-4'>
            <p class='body4 text-gray-900 mb-2'>청소비</p>
            <p class='body6 text-gray-800'>{(cleaningFee).toLocaleString()}원</p>
          </li>
          <li class='py-4'>
            <p class='body4 text-gray-900 mb-2'>보증금</p>
            <p class='body6 text-gray-800'>{(deposit).toLocaleString()}원 /1주</p>
          </li>
        </ul>
      </div>
      <p class='body3 text-gray-900'>{managementFeeDescription}</p>
    </div>
  </div>
  <BottomNav
    client:only='preact'
    slot='nav'
    id={id}
    isLoggedIn={isLoggedIn}
    deposit={deposit}
    rentFeePerWeek={rentFeePerWeek}
    managementFeePerWeek={managementFeePerWeek}
    cleaningFee={cleaningFee}
  />
</Layout>
<script>
  document.addEventListener('click', (e) => {
    const el = (e.target instanceof Element) ? e.target.closest('[data-naver-map]') : null;
    if (!el) return;
    if (window.__naver_map_timeout) {
      return;
    }
    window.__naver_map_timeout = setTimeout(function() {
      clearTimeout((window as any).__naver_fabllack)

      window.open((el as HTMLElement).dataset.naverMapFallback, '_blank');
    }, 1500);
  });
</script>
