---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/template/Header.astro';
import { SignInForm } from '../../components/auth/SignInForm';
import dayjs from 'dayjs';
import {
  getWeeksBetween,
  getPriceData,
} from '@plott-life/utils';
import {ContractStatus, EXPOSE_DATE_FORMAT} from '../../libs/values';
import {
  NotificationBanner,
  ContractInfo,
  PaymentInfo,
  CancelButton,
  Payment,
  BottomContractButton,
} from '../../components/contract';

import StatusTimeline from '@components/contract/StatusTimeline.astro';
import Description from '@components/contract/Description.astro';
import Notice from '@components/contract/Notice.astro';

const { API_URL } = import.meta.env;

const { id } = Astro.params;
const accessToken = await Astro.session?.get('accessToken');

async function fetchContract() {
  const res = await fetch(`${API_URL}/v1/contract/${id}`, {
    headers: {
      'Content-Type': 'application/json',
      Authorization: `Bearer ${accessToken}`,
    },
  });

  if (!res.ok) {
    throw new Error(`API Error: ${res.status}`);
  }

  return res.json();
}

const contract = await fetchContract();

const {
  weeks,
  startAt,
  endAt,
  name,
  address,
  approvalExpiresAt,
  expiresAt,
  contractStatus,
  buildingUnit,
} = contract;

console.log(expiresAt);

const isBeforePayment = contractStatus === ContractStatus.REQUESTED || contractStatus === ContractStatus.APPROVED;

---

<Layout>
  <Header
    slot='header'
    title='계약'
    showBackIcon={true}
  />
  <div class='p'>
    {contractStatus !== ContractStatus.MOVED_OUT && (
      <div class='w-full mb-1'>
        <NotificationBanner
          contractStatus={contractStatus}
          expiresAt={expiresAt}
          approvalExpiresAt={approvalExpiresAt}
        />
      </div>
    )}
    {isBeforePayment && (
      <div class='w-full bg-gray-50 px-10 py-4'>
        <StatusTimeline
          contractStatus={contractStatus}
        />
      </div>
    )}
    <ContractInfo
      client:visible
      {...contract}
    />
    {(contractStatus === ContractStatus.COMPLETED || contractStatus === ContractStatus.MOVED_OUT || contractStatus === ContractStatus.USING) && (
      <>
        <div class='bg-gray-100 w-full h-2' />
        <Notice />
      </>
    )}
    <div class='bg-gray-100 w-full h-2' />
    <PaymentInfo
      client:visible
      {...contract}
    />
    {isBeforePayment && (
      <>
        <div class='bg-gray-100 w-full h-2' />
        <Payment
          client:visible
          {...contract}
        />
      </>
    )}
  </div>
  <Description
    contractStatus={contractStatus}
  />
  {isBeforePayment && (
    <CancelButton
      client:only='preact'
      id={Number(id)}
      {...contract}
    />
  )}
  <!--<div-->
  <!--  slot='nav'-->
  <!--  class='bg-white border-t border-gray-300 py-5 px-6 flex justify-between items-center'-->
  <!--&gt;-->
  <!--  <button class='btn btn-block btn-primary body2'>계약 요청하기</button>-->
  <!--</div>-->
  {contractStatus === ContractStatus.APPROVED && (
    <BottomContractButton
      slot='nav'
      client:only='preact'
    />
  )}
</Layout>
