---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';
import BulletList from '@components/common/BulletList.astro';

import dayjs from 'dayjs';

import {
  PaymentInfo,
  BottomContractButton,
} from './_components';

import {
  getWeeksBetween,
  getPriceData,
} from '@plott-life/utils';

import { EXPOSE_DATE_FORMAT } from '@libs/values';
import { getSearchParams } from '@libs/utils';

const {
  PUBLIC_IMAGE_URL,
  API_URL,
} = import.meta.env;

if (!Astro.locals.isLoggedIn) {
  return Astro.redirect('/auth/login');
}

const user = Astro.locals.user!!;
const searchParams = Astro.url.searchParams;

const { id, startAt, endAt } = getSearchParams(searchParams, {
  id: null,
  startAt: dayjs().format('YYYY-MM-DD'),
  endAt: dayjs().add(6, 'day').format('YYYY-MM-DD'),
});

if (!id) {
  return Astro.redirect('/');
}

const weeks = getWeeksBetween(startAt, endAt);

async function fetchRoomDetail(id: string) {
  try {
    const res = await fetch(`${API_URL}/v1/building-unit/${id}`, {
      headers: { 'Content-Type': 'application/json' },
    });

    if (!res.ok) {
      console.error(`API Error: ${res.status} ${res.statusText}`);
      return null;
    }

    return await res.json();
  } catch (err) {
    console.error('Fetch failed: ', err);
    return null;
  }
}

const roomDetail = await fetchRoomDetail(id);

if (!roomDetail) {
  // TODO: 에러페이지..?
  // return Astro.redirect('/error');
}

const {
  name,
  address,
  images,
  deposit,
  rentFeePerWeek,
  cleaningFee,
  managementFeePerWeek,
  host,
} = roomDetail;

const {
  totalRentFee,
  totalManagementFee,
  commissionFee,
  totalPrice,
  usagePrice,
} = getPriceData({
  weeks,
  deposit,
  rentFeePerWeek,
  cleaningFee,
  managementFeePerWeek,
});

console.log(user);
---

<Layout>
  <Header
    slot='header'
    title='계약'
    showBackIcon={true}
  />
  <div class='p-4 pb-0'>
    <h3 class='title3 text-gray-900 px-2 pb-4'>계약 정보</h3>
    <section class='rounded-2xl border-1 border-gray-300 py-5 px-6 space-y-4'>
      <div class='flex items-center gap-4'>
        <img
          src={`${PUBLIC_IMAGE_URL}/${images.length > 0 ? images[0] : null}.webp?w=160`}
          alt='숙소 이미지'
          class='w-20 h-20 rounded-lg object-cover'
        />
        <div class='flex-1'>
          <p class='body4 text-gray-900 mb-1.5'>{name}</p>
          <p class='body5 text-gray-500'>{address}</p>
        </div>
      </div>
      <div class='w-full h-px bg-gray-300'></div>
      <div class='w-full flex flex-col justify-center'>
        <p class='body4 text-gray-900'>호스트</p>
        <p class='body5 text-gray-700 mt-1.5 mb-3'>{host.name} / {host.phone}</p>
        <div class='w-full px-4 py-2 rounded-md bg-gray-50 body6 text-gray-700'>계약이 확정된 후 연락처가 공개됩니다</div>
      </div>
      <div class='w-full h-px bg-gray-300'></div>
      <div class='w-full flex flex-col justify-center'>
        <p class='body4 text-gray-900'>게스트</p>
        <p class='body5 text-gray-700 mt-1.5 mb-3'>{user.lastName}{user.firstName} / {user.phone}</p>
      </div>
      <div class='w-full h-px bg-gray-300'></div>
      <div class='w-full flex flex-col justify-center'>
        <p class='body4 text-gray-900'>임대기간</p>
        <p class='body5 text-gray-700 mt-1.5 mb-3'>{weeks}주 · {dayjs(startAt).format(EXPOSE_DATE_FORMAT)} ~ {dayjs(endAt).format(EXPOSE_DATE_FORMAT)} </p>
      </div>
    </section>
    <h3 class='title3 text-gray-900 px-2 pb-4 mt-8'>결제 정보</h3>
    <div class='rounded-2xl border-1 border-gray-300 space-y-4 mb-10'>
      <PaymentInfo
        client:load
        currency='KRW'
        totalRentFee={totalRentFee}
        totalManagementFee={totalManagementFee}
        cleaningFee={cleaningFee}
        commissionFee={commissionFee}
        deposit={deposit}
        usagePrice={usagePrice}
        totalPrice={totalPrice}
      />
    </div>
  </div>
  <div class='px-6 py-8 bg-gray-50'>
    <section class='mb-8'>
      <p class='body1 text-gray-900 mb-4'>계약 취소 시 환불 규정</p>
      <BulletList
        items={[
          '입주일 15일 이전 : 임대료의 100% 환불',
          `입주일 14일 ~ 8일 이전 : 임대료의 80% 환불`,
          '입주일 7일 ~ 1일 이전 : 임대료의 60% 환불',
          '입주 당일 : 환불 불가',
          '관리비, 청소비, 보증금은 전액 환불됩니다.',
        ]}
      />
    </section>
    <section class='space-y-3'>
      <p class='body1 text-gray-900 mb-4'>계약 절차</p>
      <BulletList
        items={[
          '계약 요청 > 호스트 승인 > 결제 > 입주 > 퇴실 > 호스트 퇴실 확인 > 보증금 반환',
          '호스트가 2시간 이내에 계약을 승인/거절합니다.',
          '계약은 결제 완료시 확정됩니다.',
        ]}
      />
    </section>
  </div>
  <BottomContractButton
    slot='nav'
    client:only='preact'
    id={Number(id)}
    startAt={startAt}
    endAt={endAt}
  />
</Layout>
