---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/template/Header.astro";
import _ from "lodash";
import {getAnnouncement } from "../../libs/strapi";
import dayjs from "dayjs";
import StrapiContent from "../../components/template/StrapiContent.astro";

const slug = Astro.params.slug;
const data = await getAnnouncement(slug);
console.log(data, data.body);
---
<Layout>
  <Header
    slot="header"
    title="공지사항"
    showBackIcon={true}
    showHomeIcon={true} />
  <section class='px-6 py-8 flex flex-col gap-6'>
    <section class='flex flex-col gap-6'>
      <div class="w-full max-w-2xl mx-auto space-y-8">
        <header class="space-y-2">
          <div class="flex items-center gap-2 text-xs text-gray-600">
            <span class="min-w-10 badge badge-primary px-1 text-info-content">{data.importance}</span>
            <span class="min-w-10 badge badge-secondary px-1 text-info-content">{data.audience}</span>
            <time class="js-date" datetime="2025-09-17T09:00:00Z">{dayjs(data.createdAt).format("YYYY년 MM월 DD일")}</time>
          </div>
          <h1 class="text-2xl font-semibold" data-bind="announcement.title">{data.title}</h1>
        </header>
        <article class="prose prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline">
          {data.body.map(content => (
            <StrapiContent content={content} />
          ))}
        </article>
      </div>
    </section>
  </section>
</Layout>
