---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';
import BottomNav from '@components/template/BottomNav.astro';
import RoomList from '@components/home/RoomList';
import Footer from '@components/template/Footer.astro';

import IconSearch from '@plott-life/ui/icons/search.svg';
import IconLogo from '@plott-life/ui/icons/logo.svg';
import {DEFAULT_PAGE_SIZE} from '../libs/values';
import {toast} from '../libs/toast';

const {
  API_URL,
} = import.meta.env;

async function initRooms() {
  const res = await fetch(`${API_URL}/v1/building-unit?page=0&size=${DEFAULT_PAGE_SIZE}`, {
    headers: {
      'Content-Type': 'application/json',
    },
  });

  if (!res.ok) {
    throw new Error(`API Error: ${res.status}`);
  }

  return res.json();
}

// 기본값 준비
let items = [];
try {
  const data = await initRooms();
  items = data.items ?? [];
} catch (err) {
  toast.show({
    type: 'error',
    message: '방 정보를 불러오는데 실패했습니다. 잠시 후 다시 시도해주세요.',
  });
  console.error('실패:', err);
}
---

<Layout>
  <Header slot='header'>
    <div class='flex flex-col w-full'>
      <div class='flex justify-center items-center h-16'>
        <IconLogo class='w-16' />
      </div>
      <div class='flex items-center px-6 pb-4 w-full shadow-[0_6px_12px_0_rgba(0,0,0,0.05)]'>
        <a
          href='/search'
          class='flex items-center space-x-2 w-full px-6 h-14 border-[1px] rounded-[28px] border-gray-200 shadow-[0_0_20px_0_rgba(0,0,0,0.05)] hover:shadow-[0_0_20px_0_rgba(0,0,0,0.1)] cursor-pointer'
        >
          <IconSearch
            fill='white'
            width='16px'
            height='16px'
          />
          <span class='body5 text-gray-700'>
            나에게 맞는 방 검색하기
          </span>
        </a>
      </div>
    </div>
  </Header>
  <div class='bg-white p-6'>
    <RoomList
      client:only='preact'
      initialRooms={items}
    />
  </div>
  <Footer slot='footer' />
  <BottomNav slot='nav' />
</Layout>
