---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/template/Header.astro";
import dayjs from "dayjs";
import {EXPOSE_DATE_FORMAT} from "../../../libs/values";
const { API_URL } = import.meta.env;

const { id } = Astro.params;
const accessToken = await Astro.session?.get('accessToken');

async function fetchContract() {
  const res = await fetch(`${API_URL}/v1/contract/${id}`, {
    headers: {
      'Content-Type': 'application/json',
      Authorization: `Bearer ${accessToken}`,
    },
  });

  if (!res.ok) {
    throw new Error(`API Error: ${res.status}`);
  }

  return res.json();
}

const contract = await fetchContract();

const {
  weeks,
  startAt,
  endAt,
  name,
  address,
  approvalExpiresAt,
  expiresAt,
  // contractStatus,
  buildingUnit,
} = contract;
---
<Layout>
  <Header
    slot='header'
    title='결제 내역'
    showBackIcon={true}
  />
  <section class={`p-6`}>
    <div class='header flex justify-between pb-6'>
      <h3 class='body1 text-gray-900'>계약 정보</h3>
    </div>

    <div class="space-y-4">
      <div class="flex justify-between">
        <span class="body6 text-gray-600">공급가액</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">부가세액</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">봉사료</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>

      <div class="w-full h-px bg-gray-300"></div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">승인번호</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">카드종류</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">카드번호</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">할부</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">결제일시</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>

      <div class="w-full h-px bg-gray-900"></div>
      <div class="flex justify-between items-center pt-2">
        <span class="body4 text-gray-900">최종 결제 금액</span>
        <span class="body1 text-gray-900">
          {(1000000).toLocaleString()}원
        </span>
      </div>
    </div>
  </section>

  <div class='bg-gray-100 w-full h-2' />
  <section class={`p-6`}>
    <div class='header flex justify-between pb-6'>
      <h3 class='body1 text-gray-900'>구매 정보</h3>
    </div>

    <div class="space-y-4">
      <div class="flex justify-between">
        <span class="body6 text-gray-600">상품명</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">결제번호</span>
        <span class="body6 text-gray-900">
          100,000원
        </span>
      </div>
    </div>
  </section>
  <div class='bg-gray-100 w-full h-2' />
  <section class={`p-6 pb-10`}>
    <div class='header flex justify-between pb-6'>
      <h3 class='body1 text-gray-900'>판매자 정보</h3>
    </div>
    <div class="space-y-4">
      <div class="flex justify-between">
        <span class="body6 text-gray-600">판매자 상호</span>
        <span class="body6 text-gray-900">
          (주) 핸디즈
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">대표자명</span>
        <span class="body6 text-gray-900">
          정승호
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">사업자등록번호</span>
        <span class="body6 text-gray-900">
          152 - 86 - 00358
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">연락처</span>
        <span class="body6 text-gray-900">
          02. 1664. 7694
        </span>
      </div>
      <div class="flex justify-between">
        <span class="body6 text-gray-600">주소</span>
        <span class="body6 text-gray-900">
          서울 서초구 강남대로 327 대륭서초타워 5층
        </span>
      </div>
    </div>
  </section>
</Layout>
