---
import Layout from '@layouts/Layout.astro';
import Header from '@components/template/Header.astro';
import dayjs from 'dayjs';
import { EXPOSE_DATETIME_FORMAT, PaymentStatus } from '@libs/values';

type Cancel = {
  amount: number;
  penalty: number | null;
  canceledAt: string;
};

const { API_URL } = import.meta.env;
const { id } = Astro.params;
const accessToken = await Astro.session?.get('accessToken');

async function fetchContract() {
  const res = await fetch(`${API_URL}/v1/contract/${id}`, {
    headers: {
      'Content-Type': 'application/json',
      Authorization: `Bearer ${accessToken}`,
    },
  });

  if (!res.ok) {
    throw new Error(`API Error: ${res.status}`);
  }

  return res.json();
}

const contract = await fetchContract();

const {
  payment: {
    no,
    title,
    sellingPrice,
    vat,
    tip,
    cardReceiptNo,
    cardName,
    cardNumber,
    cardQuota,
    paidAt,
    canceledAt,
    totalPrice,
    totalCancelPrice,
    paymentStatus,
  },
  cancels,
} = contract;

const isCanceled = paymentStatus === PaymentStatus.CANCELED || paymentStatus === PaymentStatus.PARTIAL_CANCELED;
const subtitle = isCanceled ? '취소 내역' : '결제 내역'
---
<Layout subtitle={subtitle}>
  <Header
    slot='header'
    title={subtitle}
    showBackIcon={true}
  />
  <section class={`p-6`}>
    <div class='header flex justify-between pb-6'>
      <h3 class='body1 text-gray-900'>결제 정보</h3>
    </div>

    <div class='space-y-4'>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>공급가액</span>
        <span class='body6 text-gray-900 text-right'>
          {(sellingPrice || 0).toLocaleString()}원
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>부가세액</span>
        <span class='body6 text-gray-900 text-right'>
          {(vat || 0).toLocaleString()}원
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>봉사료</span>
        <span class='body6 text-gray-900 text-right'>
          {(tip || 0).toLocaleString()}원
        </span>
      </div>

      <div class='w-full h-px bg-gray-300'></div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>승인번호</span>
        <span class='body6 text-gray-900 text-right'>
          {cardReceiptNo || '-'}
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>카드종류</span>
        <span class='body6 text-gray-900 text-right'>
          {cardName || '-'}
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>카드번호</span>
        <span class='body6 text-gray-900 text-right'>
          {cardNumber || '-'}
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>할부</span>
        <span class='body6 text-gray-900 text-right'>
          {cardQuota === null ? '-' : cardQuota > 0 ? `${cardQuota}개월` : '일시불'}
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>결제일시</span>
        <span class='body6 text-gray-900 text-right'>
          {paidAt !== null ? dayjs(paidAt).format(EXPOSE_DATETIME_FORMAT) : '-'}
        </span>
      </div>
      {canceledAt && (
        <div class='flex justify-between'>
          <span class='min-w-[100px] body6 text-gray-600'>취소일시</span>
          <span class='body6 text-gray-900 text-right'>
            {dayjs(canceledAt).format(EXPOSE_DATETIME_FORMAT)}
          </span>
        </div>
      )}
      <div class='w-full h-px bg-gray-900'></div>
      <div class='flex justify-between items-center pt-2'>
        <span class='body4 text-gray-900'>
          {paymentStatus === PaymentStatus.CANCELED ? '환불 금액' : '최종 결제 금액'}
        </span>
        <span class='body1 text-gray-900'>
          {(paymentStatus === PaymentStatus.CANCELED ? totalCancelPrice : totalPrice).toLocaleString()}원
        </span>
      </div>
    </div>
  </section>

  {cancels?.length > 0 && (
    <div class='bg-gray-100 w-full h-2' />
    <section class={`p-6`}>
      <div class='header flex justify-between pb-6'>
        <h3 class='body1 text-gray-900'>취소/환불 정보</h3>
      </div>
      <div class='space-y-4'>
        <div class='flex justify-between'>
          <span class='min-w-[100px] body6 text-gray-600'>결제 금액</span>
          <span class='body6 text-gray-900 text-right'>
            {(totalPrice).toLocaleString()}원
          </span>
        </div>
      </div>
      {cancels.map((cancel: Cancel) => (
        <div class='w-full h-px bg-gray-300 my-4'></div>
        <div class='space-y-4'>
          <div class='flex justify-between'>
            <span class='min-w-[100px] body6 text-gray-600'>위약금</span>
            <span class='body6 text-gray-900 text-right'>
              - {(cancel?.penalty || 0).toLocaleString()}원
            </span>
          </div>
          <div class='flex justify-between'>
            <span class='min-w-[100px] body6 text-gray-600'>취소 일시</span>
            <span class='body6 text-gray-900 text-right'>
              {cancel?.canceledAt !== null ? dayjs(cancel?.canceledAt).format(EXPOSE_DATETIME_FORMAT) : '-'}
            </span>
          </div>
        </div>
        <div class='w-full h-px bg-gray-900 my-4'></div>
        <div class='flex justify-between items-center pt-2'>
          <span class='body4 text-gray-900'>
            환불 금액
          </span>
          <span class='body1 text-gray-900'>
            {(amount || 0).toLocaleString()}원
          </span>
        </div>
      ))}
    </section>
  )}

  <div class='bg-gray-100 w-full h-2' />
  <section class={`p-6`}>
    <div class='header flex justify-between pb-6'>
      <h3 class='body1 text-gray-900'>구매 정보</h3>
    </div>
    <div class='space-y-4'>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>상품명</span>
        <span class='body6 text-gray-900 text-right'>
          {title}
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>결제번호</span>
        <span class='body6 text-gray-900 text-right'>
          {no}
        </span>
      </div>
    </div>
  </section>
  <div class='bg-gray-100 w-full h-2' />
  <section class={`p-6 pb-10`}>
    <div class='header flex justify-between pb-6'>
      <h3 class='body1 text-gray-900'>판매자 정보</h3>
    </div>
    <div class='space-y-4'>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>판매자 상호</span>
        <span class='body6 text-gray-900 text-right'>
          (주) 핸디즈
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>대표자명</span>
        <span class='body6 text-gray-900 text-right'>
          정승호
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>사업자등록번호</span>
        <span class='body6 text-gray-900 text-right'>
          152 - 86 - 00358
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>연락처</span>
        <span class='body6 text-gray-900 text-right'>
          02. 1664. 7694
        </span>
      </div>
      <div class='flex justify-between'>
        <span class='min-w-[100px] body6 text-gray-600'>주소</span>
        <span class='body6 text-gray-900 text-right'>
          서울 서초구 강남대로 327 대륭서초타워 5층
        </span>
      </div>
    </div>
  </section>
</Layout>
