---
import Meta from '@layouts/Meta.astro';
import '@styles/style.css';
import { descriptionSample, defaultKeywords } from "./defaultKeywords";
import GoogleAnalytics from '../components/script/GoogleAnalytics.astro';
import GoogleTagManager from '../components/script/GoogleTagManager.astro';
import GoogleTagManagerFallback from '../components/script/GoogleTagManagerFallback.astro';
import { CRMTest } from "../components/crm.tsx";
import ChannelTalk from "../components/script/ChannelTalk.astro";

interface Props {
  title?: string;
  subtitle?: string;
  keywords?: string;
  keywordsPreset?: Exclude<keyof typeof defaultKeywords, "base">;
  description?: string;
  image?: string;
  background?: string;
}

let { title, subtitle, description, keywords, keywordsPreset,, image, background } = Astro.props;
if (!title) {
  if (subtitle) {
    title = `${subtitle} - plott LIFE`;
  } else {
    title = `플라트 라이프 | 단기임대의 새로운 기준 - plott LIFE`;
  }
}
if (!description) {
  description = descriptionSample();
}
if (!keywords) {
  if (keywordsPreset && (keywordsPreset in defaultKeywords)) {
    keywords = `${defaultKeywords.base}, ${defaultKeywords[keywordsPreset]}`;
  } else {
    keywords = defaultKeywords.base;
  }
} else {
  keywords += `${defaultKeywords.base}, ${keywords}`;
}
if (!image) {
  image = 'https://cdn.plott.co.kr/images/ogimage.webp?w=1200&h=630';
}

const isOpen = Astro.locals.test;
---
<!DOCTYPE html>
<html lang='ko' data-theme='light'>
  <head>
    <Meta title={title} description={description} keywords={keywords} image={image} />
    <GoogleAnalytics />
    <GoogleTagManager />
    <ChannelTalk />
  </head>
  <body class='flex justify-center'>
    <GoogleTagManagerFallback />
    <div class='relative flex flex-col w-full bg-base-100'>
      <main class=`flex flex-col max-w-(--max-width) mx-auto w-full shadow-[0_0_20px_rgba(0,0,0,0.05)] min-h-[calc(100dvh-var(--sait)-var(--bait))] ${background || 'bg-white'}`>
        <slot name='header' />
        <div class='flex-1 overflow-y-auto'>
          <slot />
        </div>
        <slot name='footer' />
        <nav class="bottom-navigation sticky w-full mx-auto bottom-0 z-1000 bg-white pb-(--bait)">
          <slot name='nav' />
        </nav>
      </main>
    </div>
    <CRMTest client:visible isOpen={isOpen} />
  </body>
  <!-- Toast section -->
  <div
    id="global-toast-container"
    class="toast toast-center pb-20 z-[5000]"
  >
  </div>
  <!-- bottom style -->
  <style>
    .bottom-navigation:empty {
      display: none;
    }
    .bottom-navigation:not(:empty) {
    }
  </style>
  <!-- 임시로 준비중 처리 -->
  <script>
    import { toast } from "../libs/toast";
    window.toast = toast;
  </script>
  <script type="module">
    const elements = [
      document.getElementById('search-button'),
      document.getElementById('nav-search'),
      document.getElementById('nav-contract'),
      document.getElementById('btn-inquiry'),
    ];

    const handleExceptionEvent = (event) => {
      event.preventDefault();
      toast.show({
        'message': '준비중인 서비스입니다.',
        type: 'warning',
        'duration': 3000,
      });
    };

    elements.forEach((el) => {
      if (el) el.addEventListener('click', handleExceptionEvent);
    });
  </script>
</html>
