---
interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  image?: string;
}

const mode = import.meta.env.MODE;
const url = Astro.url;
const site = Astro.site ?? "http://localhost:4321";
const canonicalURL = new URL(url.pathname, site);
const { title, description, keywords, image } = Astro.props;
---
<meta charset="utf-8" />
<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>{title}</title>
<meta name="application-name" content={title} />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="theme-color" content="#74594B">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#74594B">
<meta name="theme-color" media="(prefers-color-scheme: dark)"  content="#74594B">
<meta name="color-scheme" content="light dark">
<meta name="apple-mobile-web-app-title" content={title} />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="application-name" content={title} />
<meta name="msapplication-starturl" content="/" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="browsermode" content="application" />
<meta name="nightmode" content="disable" />
<meta name="layoutmode" content="fitscreen/standard" />
<meta name="imagemode" content="force" />
<meta name="screen-orientation" content="portrait" />
<meta name="format-detection" content="telephone=no, date=no, email=no, address=no" />
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<link href="/icons/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
<link href="/icons/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
<link href="/icons/favicon-48x48.png" rel="icon" type="image/png" sizes="48x48" />
<link href="/icons/icon-180x180.png" rel="apple-touch-icon" />
<link href="/icons/icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
<link href="/icons/icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
<link href="/icons/icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
<link href="/icons/icon-320x320.png" rel="apple-touch-startup-image" />
<link href="/icons/icon-192x192.png" rel="icon" sizes="192x192" />
<link href="/icons/icon-128x128.png" rel="icon" sizes="128x128" />
<link href="/icons/icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57" />
<link href="/icons/icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
<link href="/manifest.json" rel="manifest" />
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="naver-site-verification" content="3ac2c177b35ce8db637a27ac5c2cc53b89821511" />
{mode === "production" ? (
<>
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow,noarchive,nosnippet,max-image-preview:large">
  <meta name="bingbot" content="index,follow">
</>
) : (
<>
  <meta name="robots" content="noindex,nofollow,noarchive">
  <meta name="googlebot" content="noindex,nofollow,noarchive">
  <meta name="bingbot" content="noindex,nofollow,noarchive">
</>
)}

